<web-app>
    <servlet>
        <servlet-name>GadgetListServlet</servlet-name>
        <servlet-class>com.gadgetstore.servlet.GadgetListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GadgetListServlet</servlet-name>
        <url-pattern>/gadgets</url-pattern>
    </servlet-mapping>
</web-app>
